@import "vars";
@import "flexslider";

a {
	@include transition(all 240ms ease-out);
	cursor:pointer;
	&:hover, &.current, &.active {
		color:$action;
	}
}

nav,ul,ol {
	margin:0;
	padding:0;
}

p {
	text-indent:1em;
}

textarea {
	resize:none;
}

header {
	padding-bottom:4px;
	border-bottom:4px solid $black;
	nav {
		ul {
			li {
				text-transform:uppercase;
				font-weight:bold;
				padding-top:pxToRem(48px);
				&.home {
					padding:0;
					a {
						@extend %ir;
						display:block;
						height:100%;
						@include retina-image($imgPath + 'sprite', 222px 67px);
						background-repeat:no-repeat;
						background-position:left top;
					}
				}
				&.home {
					a {
						border-right:1px solid transparent;
					}
				}
			}
		}
	}
}

nav {
	text-transform:uppercase;
}

.no-js {
	.flexslider {
		li {
			border-bottom:4px solid $black;
		}
	}
}

header, footer {
	nav {
		ul {
			li {
				a {
					border-right:1px solid $black;
				}
				&:last-of-type {
					a {
						border-right:1px solid transparent;
					}
				}
			}
		}
	}
}

.svg {
	header {
		nav {
			ul {
				li {
					&.home {
						a {
							background-image:url($imgPath + 'sprite.svg');
						}
					}
				}
			}
		}
	}
}

%tiny-type {
	font-size:pxToRem(10px);
}

footer {
	font-size:pxToRem(11px);
	nav {
		
		ul {
			height:30px;
			
		}
			li {
				height:100%;
				padding-top:pxToRem(8px);
				border-bottom:4px solid $black;
				&.csw-1986 {
					background:$black;
					color:$white;
					
					a {

					}
				}
			}
	}
	.copyright {
		@extend %tiny-type;
	}
}

.photography, .design {
	header {
		z-index:$topMost;
		position:relative;
		background:$white;
		background:rgba($white,0.5);
	}
	.content {
		margin-top:-110px;
		position:relative;
		z-index:1;
	}
}

.contact {
	aside {
		background:$desturated;
	}
}

