@import "flexslider";
@import "flexslider-override";

body {
	@include image-set('../img/subtle_grunge.png', '../img/subtle_grunge@2X.png?nc=' + $nc);
}

a {
	@include transition(all 240ms ease-out);
	cursor:pointer;
	color:inherit;
	text-decoration:none;
	&:hover, &.current, &.active {
		color:$action;
	}
}

nav,ul,ol {
	margin:0;
	padding:0;
}

p {
	text-indent:1em;
}

textarea {
	resize:none;
}

%bebas {
	font-family:"Bebas",sans-serif;
}

%permanent-marker {
	font-family:"PermanentMarker",sans-serif;
	font-size:15px;
}

.marker, .slides p, .t-1 .content { /* #shame */
	@extend %permanent-marker;
	text-align:center;
}

.t-5 {
	.content {
		h1,p {
			@extend %permanent-marker;
			text-align:center;
		}
		h1 {
			font-size:1.8em;
		}

	}
}

form {
	@extend %permanent-marker;
}


.content {
	h1 {
		margin-bottom:0;
	}
	p {
		margin-top:0;
	}
}

header {
	padding-bottom:4px;
	nav {
		ul {
			border-bottom:4px solid $black;
			
			li {
				text-transform:uppercase;
				font-weight:normal;
				padding-top:pxToRem(48px);
				margin-bottom:4px;
				&.home {
					padding:0;
					a {
						@extend %ir;
						display:block;
						height:100%;
						@include retina-image($imgPath + 'sprite', 222px 67px);
						background-repeat:no-repeat;
						background-position:left top;
					}
				}
				&.home {
					a {
						border-right:3px solid transparent;
					}
				}
			}
		}
	}
}

nav {
	text-transform:uppercase;
}

.no-js {
	.flexslider {
		li {
			border-bottom:3px solid $black;
		}
	}
}

header, footer {
	nav {
		ul {
			li {
				a {
					border-right:4px solid $black;
				}
				&:last-of-type {
					a {
						border-right:none;
					}
				}
			}
		}
	}
}

header {
	@extend %permanent-marker;
}

footer {
	ul {
		@extend %permanent-marker;
		font-size:inherit;
	}
}

.svg {
	header {
		nav {
			ul {
				li {
					&.home {
						a {
							background-image:url($imgPath + 'sprite.svg');
						}
					}
				}
			}
		}
	}
}

%tiny-type {
	font-size:pxToRem(10px);
}

footer {
	font-size:pxToRem(11px);
	nav {
		
		ul {
			height:30px;
			border-bottom:4px solid $black;
		}
			li {
				height:100%;
				padding-top:pxToRem(8px);
				
				&.csw-1986 {
					background:$black;
					color:$white;
					
					a {

					}
				}
			}
	}
	.copyright {
		@extend %tiny-type;
	}
}

.flexbox {
	footer {
		nav {
			ul {
				border:none;
			}
			li {
				border-bottom:4px solid $black;
			}
		}
	}
	header {
		nav {
			ul {
				li {
					&.home {
						margin-left:-1px; /* shame */
					}
				}
			}
		}
	}
}

/*.photography, .design {*/
	header {
		z-index:$topMost;
		position:relative;
		background:rgba($white,0.7);
	}
	header,footer {
		/*background:rgba($white,0.7);*/
	}
	.content {
		position:relative;
		z-index:1;
		/*@include media($wl768) {

		}*/
	}
/*}*/

.contact {
	aside {
		background:$desturated;
	}
}

