%flexslider {
	ul {
		@extend %naked-list;
	}
	.slides {
		
	}
		li {
			
		}
		
		.slides	{
			img {
				margin:0;
			}
		}
		
	.flex-direction-nav {
		color:$white;
		a {
			&:hover {
				color:inherit;
			}
		}
	}

}