@import "vars";
@import "flexslider";

* {
	@include box-sizing(border-box);
}

img,video {
	max-width:100%;
	height:auto;
}

html { font-size: 100%; }

body {
	text-align:center;
	padding:36px;
	font-size:pxToRem(12px);
}

#wrapper {
	width:$siteW;
	margin:0 auto;
	text-align:left;
}

%horz-nav {
	ul {
		@extend %clearfix; 
		@extend %naked-list;
	}
	li {
		float:left;
		text-align:center;
		a {
			
		}
	}
}

header {
	nav {
		@extend %horz-nav;
		ul {
			
			li {
				a {
					padding:0 pxToRem(12px);
				}
				&.home {
					width:222px;
					height:67px;
				}
			}
		}
	}
}

.content {
	padding:pxToRem(16px) 0;
}

.flexslider {
	@extend %flexslider;
	ul {
		@extend %naked-list;
	}
}
$gutter:16px;
.no-js {
	.flexslider {
		li {
			margin-bottom:$gutter;
		}
	}
}
.slides {
	img {
		margin-bottom:$gutter / 2;
	}
}

.flexbox {
	header, footer {
		nav {
			ul {
				@include flexbox();
				li {
					padding-left:0;
					padding-right:0;
					@include flex(1,1);
					&.home {
						@include flex(0,0);
					}
					a {
						display:inline-block;
						width:100%;
					}
				}
			}
		}
	}
}

footer {
	@include outer-container;
	max-width:none;
	nav {
		@include span-columns(12);
		@extend %horz-nav;
		margin:0;
		ul {
			
		}
			li {
				&.csw-1986 {
					a {
						
					}
				}
				a {
					padding:0 pxToRem(12px);
				}
			}
	}
	.copyright {
		@include span-columns(12);
		padding:0;
		margin-top:2px;
	}
}

.twocol {
	.stage {
		@include outer-container();
		padding:90px 90px 90px 90px;
		.sidebar {
			text-align:center;
			@include span-columns(3);
		}
		.content {
			@include span-columns(9);
			padding-left:pxToRem(36px);
		}
	}
}

.twocol.contact {
	.stage {
		.sidebar {
			text-align:right;
			padding:0 1em;
			@include span-columns(4);
			p {
				text-indent:0;
			}
		}
		.content {
			@include span-columns(8);
		}
		form {
			div {
				margin-bottom:pxToRem(24px);
				@include outer-container();
			}
			label {
				@include span-columns(4);
				text-align:right;
			}
			input,textarea {
				@include span-columns(8);
			}
			button {
				float:right;
			}
		}
	}
}

.about {
	.sidebar {
		img {
			margin:0 auto;
			margin-bottom:1em;
		}
		ul {
			@extend %naked-list;
			font-style:italic;
			text-transform:uppercase;
			font-size:pxToRem(11px);
			font-weight:bold;
			li {
				margin-bottom:pxToRem(6px);
				&:last-of-type {
					margin-bottom:0;
				}
			}
		}
	}
}